

.form-group-buscador {
	padding: 0.5% 0;
	width: 50%;
}

.form-group-buscador .col-xs-12{

	width: 50%;
}

ul.messages li img.avatar, img.avatar {

	height: 5em;
	width: auto;
	float: none;
}

ul.messages li img.avatar, img.avatar:hover {

	height: 8em;
	/*width: auto;
	float: none;*/
}