
.form-group-buscador {
	padding: 0.5% 0;
	width: 50%;
}

.form-group-buscador .col-xs-12{

	width: 50%;
}

ul.messages li img.avatar, img.avatar {

	height: 5em;
	width: auto;
	float: none;
}

ul.messages li img.avatar, img.avatar:hover {

	height: 8em;
	/*width: auto;
	float: none;*/
}

.sidebar-logo {

	width: 2em;
	z-index: 1000;
	position: inherit;	
	border: 1px solid rgba(52,73,94,0.44);
	padding: 4px;
}

.sidebar-logo-grande {

	width: 200%;
	padding: 5%;	
	/*
	z-index: 1000;
	position: inherit;
	border: 1px solid rgba(52,73,94,0.44);
	*/
}

.logo-login{
	width: 30%;
	text-shadow: 0 3px 3px rgba(255, 255, 255, 0.5);
}

.error-message{
	color: #FF0000;
	border-color: #FF0000;
	

}

.error{
	padding: 0;
	margin: 0;
	font-size: 1.3em;
	color: #FF0000;
	border-color: #FF0000;
	background-color: rgba(255,0,0,.2);
	text-align: center;
}

.success{
	padding: 0;
	margin: 0;
	font-size: 1.3em;
	color: #007806;
	border-color: #007806;
	background-color: rgba(0,120,0,.2);
	text-align: center;
}

.radio {
	margin-left: 2em;
}

.ui-ribbon.importancia-alta{
	background-color: #FF0000;
}

.ui-ribbon.importancia-media{
	background-color: #FFAE00;
}

.ui-ribbon.importancia-baja{
	background-color: #119B00;	
}

.importancia-alta{
	color: #EB4747;
	font-size: 1.3em;
}

.importancia-media{
	color: #F5C764;
	font-size: 1.3em;
}

.importancia-baja{
	color: #54BC48;	
	font-size: 1.3em;
}


.foto-avisos {
	text-align: center; 
	max-width: 40%;
	min-width: 30%;
	
}

div.foto-avisos img.img-circle.profile_img {
	margin-top: 0px;
	margin-left: 0px;
}

.botonera-avisos {
	margin-top: 10%;
}

td.foto-lista{
	max-width: 80px;

}

td.foto-lista{
	max-width: 40px;
	padding: 3px;
}

.dataTables_filter{
	float: none;
}

.datatable {
	width: 100% !important;
}

ul.msg_list li a .time {
	position: initial;
}

.buscador{

	background-color: #2A3F54;
	margin: 3em;
	color: #fff;
	padding: 3em;
	border-radius: 5px;
}